ol {
    margin:0px;
    padding-left:50px;
}
ol li {
    margin: 0px;
    padding: 0px;
    text-indent: -1em;
    margin-left: 1em;
}
ul {
    margin:0;
    padding-left:50px;
}
ul li {
    margin: 0px;
    padding: 0px;
    text-indent: 0.5em;
    margin-left: -0.5em;
}

li input
{
    position: absolute;
    margin-left: -60px;
    margin-top: 5px;
}
